<component name="ArtifactManager">
  <artifact type="war" name="springSessionSync:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springSessionSync.war">
      <element id="artifact" artifact-name="springSessionSync:war exploded" />
    </root>
  </artifact>
</component>